.sidebar{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fbfbfb;
  box-shadow: 0 2px 4px #555;
}

.sidebarComponent{
  border: 1px solid #ccc;
  height: 45vh;
  width: 200px;
  margin: 20px;
  position: relative;
}
.sidebarComponent:before{
  content: '';
  width: 198px;
  height: 25px;
  position: absolute;
  background-color: #bbb;
}
textarea{
  width: 100%;
  height: 100%;
  padding: 40px 10% 0 10%;
  font-size: 14px;
  border: none;

}
textarea:focus {
  outline: none;
}
